# Notebook Assignment Coursera

## Introduction
This notebook demonstrates basic data science concepts, languages, libraries, tools, and simple arithmetic operations using Python in JupyterLite.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- SciPy
- Scikit-learn
- TensorFlow
- Keras

In [ ]:
## Data Science Tools
- Jupyter
- RStudio
- GitHub
- Tableau
- IBM Watson

## Arithmetic Expression Examples
Below are simple examples of arithmetic operations in Python.

In [ ]:
# Multiply and add numbers
a = 5
b = 10
c = 2

# Multiply a and b, then add c
result = (a * b) + c

In [ ]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
hours

## Objectives
1. Learn basic data science languages and libraries.
2. Explore common data science tools.
3. Demonstrate simple arithmetic operations in Python.
4. Practice creating and sharing Jupyter notebooks.

## Author
Deepak Lekhak